<h1>Zamp.ly</h1>
<p>Type in a link to shorten:</p>
<form action='/urls' method='post'>
  <input type='text' name='path' placeholder='Please Enter A Url'>
  <br>
  <input type='submit' value='Submit'>
</form>